.book-summary {
    background: rgb(0,255,0) !important;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    color: #007500 !important;
}
.book-summary ul.summary li.active>a {
    color: #750000 !important;
}
.markdown-section {
    color: rgb(255,0,0) !important;
}